body, html{
    height:100px;
    margin:0;
    font-size:16px;
    font-family:cursive;
    font-weight:400;
    line-height:1.8em;
    color:rgb(2, 0, 3);
    background-color:rgb(213, 148, 232);
}
.topnav {
    overflow:hidden;
    background-color:rgb(91, 64, 99);
}
.topnav a {
    float:left;
    color: rgb(213, 148, 232);
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
}
.topnav a:hover {
    background-color:black;
    color: rgb(213, 148, 232);
}
.topnav a:active{
    background-color:rgb(200, 175, 198);
    color:black;
}
.pimg1, .pimg2, .pimg3 {
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.pimg1 {
    background-image:url('image1.jpg');
    min-height:100px;
}
.pimg2 {
    background-image: url('image2.jpg');
    min-height: 400px;
}
.pimg3 {
    background-image: url('image3.jpg');
    min-height: 400px;
}
.section {
    text-align:center;
    padding:50px 80px;
}
.section-light{
    background-color:rgb(247, 247, 150);
    color:black;
}
.section-dark {
    background-color: rgb(109, 109, 12);
    color: white;
}
.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:black;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}
.ptext .border {
    background-color: rgb(247, 247, 150);
    color: black;
    padding:20px;
}
.ptext .border .trans{
    background-color:transparent;
}
@media(max-width:567px){
    .pimg1, .pimg2, .pimg3 {
        background-attachment:scroll;
    }
}